/*
 * Subscriptions Container
 */

.SubscriptionsContainer {
   background-color: #262626;
}

.SubscriptionsContainer_title {
   color: #E5E5E5;
   font-size: 1.5rem;
   letter-spacing: 4px;
}

.SubscriptionsContainer_title i {
   font-size: 2rem;
   line-height: 2.5rem;
   vertical-align: middle;
}

.SubscriptionsContainer_items {
   border-top: 5px solid #16A085;
   background-color: #E8E8E8;
}

.SubscriptionsContainer_icon {
   padding: 20px;
}

.SubscriptionsContainer_charges {
   font-weight: 700;
   font-size: 2rem;
   text-align: right;
   padding-bottom: 20px;
   padding-right: 15px;
}

@media (min-width: 34em) {

   .SubscriptionsContainer_charges {
      padding: 20px;
      line-height: 2.5rem;
      font-weight: 700;
      font-size: 2rem;
   }
}
